.pagination {
  display: flex;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto;

  &_arrow__right {
    transform: rotate(180deg);
  }

  &_arrow__right,
  &_arrow__left {
    cursor: pointer;
    color: var(--text-color);
    transition: color 0.3s ease;

    &:hover {
      color: var(--main-color);
    }
  }

  &__disabled {
    pointer-events: none;
    color: var(--text-secondary);
  }
}
