.pagination {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  &_arrow__right {
    cursor: pointer;
  }

  &_arrow__left {
    color: var(--text-secondary);
  }

  &_arrow__right {
    color: var(--text-color);
    transform: rotate(180deg);
    transition: color 0.3s ease;

    &:hover {
      color: var(--main-color);
    }
  }
}
