.root {
  &_loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: rgba(14, 56, 110, 0.6);
  }
}
